/*.THIS .modalBody {
    height: 400px; 
    max-height: 800px; 
    overflow-y: scroll !important;
}*/
.THIS .modalBodyDiv {
    margin-top: 25px;
}
.THIS .formElementDiv{
    float: left;
    text-align: right;
    width: 35%
}
.THIS .formElementControlDiv {
    float: right;
    text-align: left;
    width: 57%;
    height: 300px; 
    overflow-y: scroll !important;
}
.THIS .radioDiv{
    width: 10%;
    float: left;
}
.THIS .radioLabelDiv{
    width:90%;
    float:right;
}
.THIS .formElementLabelDiv{
    padding-left:24px;
    padding-bottom:12px;
}